.gradient-bg {
  background: #833AB4;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

body,
html {
  min-height: 100%;
  overflow-y: auto;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.4rem;
  }

  .card-text {
    font-size: 0.95rem;
  }

  .product-thumb {
    width: 70px;
    height: 70px;
  }
}

.offcanvas {
  transition: transform 0.3s ease-in-out;
}